.App {
  text-align: center;
}

.product{
  background-color: gray;
  color: black;
  width: 50%;
  margin: auto;
  border: 2px solid red;
  border-radius: 20px;
  margin-top: 8px;
}
.product:hover{
  background-color: green;
  transition: 0.8s;
  color: rgb(70, 5, 5);
}
.buttonStyle{
  color: red;
  background-color: green;
}